{% extends "layout.html" %}
  
{% block title %}Toolkit{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}


<div class = "page-container">
  <aside class="sidebar">
      <ul class="sidebar-nav">
          <li><a href="#Ethics" class="active">Ethics</a></li>
      </ul>
      <ul class="sidebar-nav">
          <li><a href="#Communication" class="active">Communication</a></li>
      </ul>
      <ul class="sidebar-nav">
          <li><a href="#Art" class="active">Art</a></li>
      </ul>
      <ul class="sidebar-nav">
          <li><a href="#Technology" class="active">Technology</a></li>
      </ul>
      <ul class="sidebar-nav">
          <li><a href="#Experimental" class="active">Experimental</a></li>
      </ul>
      <ul class="sidebar-nav">
          <li><a href="#Impact" class="active">Impact</a></li>
      </ul>

      <div class ="info-card hp-card" id="hp-card1">
        <div class="card">
          <h3 class="card-title">HP Card</h3>
          <p>We decided to make the toolkit a modular project: all the activities are connected but teachers with less available time can also decide to do only one of the activities. This was thanks to our input from Miquel Rosell, a passionate science teacher we talked to.</p>
          <button class="btn btn-outline" onclick = "window.location.href='{{ url_for('pages', page='integratedhp') }}#subtitle5'">Go to HP</button>
        </div>
      </div>

      <div class ="info-card hp-card" id="hp-card2">
        <div class="card">
          <h3 class="card-title">HP Card</h3>
          <p>In this workshop, we learned how real debates are structured and explored useful tools to guide their preparation. This experience inspired the design of our activity, where we incorporated a synthetic biology component through a practical case study.</p>
          <button class="btn btn-outline" onclick = "window.location.href='{{ url_for('pages', page='integratedhp') }}#subtitle6'">Go to HP</button>
        </div>
      </div>

      <div class ="info-card hp-card" id="hp-card3">
        <div class="card">
          <h3 class="card-title">HP Card</h3>
          <p>Gemma emphasised the importance of providing a solid scientific introduction to the case, noting that without sufficient background knowledge, a meaningful debate and reflection cannot take place.</p>
          <button class="btn btn-outline" onclick = "window.location.href='{{ url_for('pages', page='integratedhp') }}#subtitle6'">Go to HP</button>
        </div>
      </div>

      <div class ="info-card hp-card" id="hp-card4">
        <div class="card">
          <h3 class="card-title">HP Card</h3>
          <p>Thanks to this hands-on interaction, we realised that young people are often open to new advancements but tend to overlook their potential risks.</p>
          <button class="btn btn-outline" onclick = "window.location.href='{{ url_for('pages', page='integratedhp') }}#subtitle5'">Go to HP</button>
        </div>
      </div>

      <div class ="info-card hp-card" id="hp-card5">
        <div class="card">
          <h3 class="card-title">HP Card</h3>
          <p>Daina Isard school really liked our toolkit when one of our team members presented it to them. They decided to try it and at this moment they have already implemented the communication and the technology activity.</p>
          <button class="btn btn-outline" onclick = "window.location.href='{{ url_for('pages', page='integratedhp') }}#subtitle5'">Go to HP</button>
        </div>
      </div>

      <div class ="info-card hp-card" id="hp-card6">
        <div class="card">
          <h3 class="card-title">HP Card</h3>
          <p>During this pilot test, we realized that the available time was too limited, so we extended the activity to two sessions instead of just one. We also chose to remove ChatGPT from the activity in order to better encourage students’ own creative thinking.</p>
          <button class="btn btn-outline" onclick = "window.location.href='{{ url_for('pages', page='integratedhp') }}#subtitle5'">Go to HP</button>
        </div>
      </div>

      <div class ="info-card hp-card" id="hp-card7">
        <div class="card">
          <h3 class="card-title">HP Card</h3>
          <p>Gemma helped us shaping the bioethics and the experimental activity but she also gave us feedback on the whole toolkit.</p>
          <button class="btn btn-outline" onclick = "window.location.href='{{ url_for('pages', page='integratedhp') }}#subtitle6'">Go to HP</button>
        </div>
      </div>
      
  </aside>
  
  <div class = "page-content">
    <div class = "header">
      <h1 class = "page-title">The toolkit: Reineta</h1>
    </div>
    <div class ="content"> 
      <p class="section-text">The toolkit’s intentions are to create a <span class="bold-word">free-access source</span> that teachers can use to provide  young students with tools that are not commonly learned in class but that are essential. It has been conceived as a constantly developing and expanding resource, as we have encouraged its users to provide feedback, ensuring the constant evolution of the toolkit according to the users’ needs. 
        <br><br>
        These activities are also designed to be adaptable: the person using this source can decide which activities will be done, in what order, and in what way. We decided to make the toolkit a <span class="bold-word">modular project</span>: all the activities are connected but teachers with less available time can also decide to do only one of the activities <span class = "info-word hp-icon" data-target= "hp-card1">&#128161;</span>.
        <br><br>
        <span class="highlight-word">You can acces the toolkit  <a style="color:var(--color-intense-2)"href="https://ire57.github.io/toolkit/">here</a>*</span>
        <br><br>
        This educational resource aims to last <span class="bold-word">much after our iGEM project</span> and to provide original activities to anyone interested with internet access. For the moment, three different schools have tried out some of our activities (be it a pilot test or the final activity itself) and it has also  gone all the way to our government’s <span class="bold-word">Department of education and professional formation</span>. <span class= "italic-word"> Read more about the toolkit's <a class="link-text" href="#Impact">impact</a></span>.
        <br><br>
        <span class="italic-word">*The toolkit is written in Catalan to ensure accessibility for all schools and teachers, without requiring any prior knowledge of English. We are currently working on an English version, but in the meantime, the webpage can be automatically translated.</span>
      </p>
      <section id ="Ethics">
        <h1 class ="section-title">Ethics</h1>
        <p class="section-text"> <span class="bold-word">Goal:</span> The activity was designed to help students understand and evaluate bioethical dilemmas by exposing them to multiple perspectives. Its primary aim is to encourage participants to reason through ethical considerations in real-life situations, fostering critical thinking and moral reflection.
        <br><br>
        <span class="bold-word">Content:</span>
         <div class="image-container">
          <img src = "https://static.igem.wiki/teams/5622/images/education/toolkittaula1.webp">
          </div>
        </p>
        <div class = "accordion">
          <div class = "accordion-header">
            <div class ="accordion-title">Read More</div>
            <div class = "accordion-icon"></div>
          </div>
          <div class = "accordion-content">
            <div class = "accordion-content-inner">
              <p>Students engage in a debate-format activity where they explore different viewpoints related to a bioethical scenario where a bioethics committee must decide whether to authorize a new subcutaneous prosthesis designed to deliver modafinil directly into the bloodstream. Modafinil, already used for disorders such as narcolepsy and ADHD, would in this case be administered through a smart implant controlled by a mobile app. This allows the patient to choose the exact moments when they want to feel the effects of the drug, for example while studying or performing a specific task, instead of being medicated continuously. Patient 0, who has ADHD, asks to use this system for greater precision and autonomy in treatment. But, even if we are able to, is it desirable to alter the human condition with synthetic biology to create a superior post-human being?
              <p>The debate encourages students to consider the roles of various institutions and stakeholders involved in the ethical scenario. It is structured into three phases: introduction, discussion, and conclusion, with questions restricted to the discussion phase. By participating, students practice articulating and defending their viewpoints while listening to and understanding opposing arguments. The activity also incorporates tools and strategies derived from professional oratory training to guide the discussion effectively and maintain engagement.</p>
            </div>
          </div>
        </div>
        <p class="section-text"> <span class="bold-word">Implementation:</span>
          <ul class="point-list">
            <li>The format (introduction, discussion, and conclusion, with questions limited to the discussion phase) and and some of the tools included were inspired by an oratory workshop led by Eulàlia Soler and organized by La Llar de la Recerca <span class = "info-word hp-icon" data-target= "hp-card2">&#128161;</span>.</li>
            <li>Since the first steps, we received and implemented the feedback from Gemma Marfany, a professor and science communicator who is also a member of the University of Barcelona’s Bioethics Committee. She helped us shape the activity and congratulated us on the final result <span class = "info-word hp-icon" data-target= "hp-card3">&#128161;</span>.</li>
            <li>In order to test the activity in a real classroom, we carried out a pilot of its initial version at Montagut school, which enabled us to apply the insights we acquired from conducting it for the first time. Owing to that experience, we have been able to refine the activity in the most effective way possible and present an improved final version of it <span class = "info-word hp-icon" data-target= "hp-card4">&#128161;</span>.</li>
          </ul>
        </p>
        <div class="image-container">
          <img src = "https://static.igem.wiki/teams/5622/images/education/toolkitbioethics.webp" alt = "Alba carrying out the pilot test for the bioethics activity in Montagut school">
        </div>

      </section>
      <section id = "Communication">
        <h1 class ="section-title">Communication</h1>
        <p class="section-text"> <span class="bold-word">Goal:</span> The main goal of the activity was to help students distinguish between fake and factual information, providing strategies to evaluate the reliability of news, social media posts, and claims, with a focus on scientific contexts.
        <br><br>
        <span class="bold-word">Content:</span>
         <div class="image-container">
          <img src = "https://static.igem.wiki/teams/5622/images/education/toolkittaula2.webp">
          </div></p>
        <div class = "accordion">
          <div class = "accordion-header">
            <div class ="accordion-title">Read More</div>
            <div class = "accordion-icon"></div>
          </div>
          <div class = "accordion-content">
            <div class = "accordion-content-inner">
              <p>This educational resource proposes 3 dynamic and progressive activities to develop critical thinking, scientific understanding and digital skills. Through real cases, online tools and active debates, students learn to identify reliable sources, recognise pseudoscience and analyse scientific information with rigour.
              <ul class="point-list">
                <li>In the first activity, students become familiar with <span class="bold-word">scientific misinformation</span> through three dynamics that promote the development of critical thinking. First, they participate in a vote on the veracity of different news and scientific claims. Then, they work in pairs to analyze real cases that show the serious consequences of believing false information. Finally, they reflect on the process for verifying scientific information and what steps to follow to avoid being deceived.</li>
                <li>In the second session, students learn to identify the  <span class="bold-word">intent of information</span> content and differentiate reliable sources from those that can lead to misinformation, especially on scientific topics. Through three short and dynamic activities, they develop strategies to detect misleading content, value the importance of verification and practice contrasting real sources.</li>
                <li>The third activity introduces students to the concept of <span class="bold-word">pseudoscience</span> through a real and surprising example: magnetotherapy or the use of magnetic bracelets to improve health. Based on this case, the lack of scientific basis in practices that are presented as therapeutic is questioned. Subsequently, students participate in a dynamic of expert groups investigating different pseudosciences to identify their characteristics and social risks.</li>
              </ul>
              <p>Real-world examples are provided to illustrate these concepts, showing the real need for the ability to discern fact from fiction and figure out the hidden intentionality in the media we consume, especially science-related news.</p>
            </div>
          </div>
       </div>
       <p class="section-text"> <span class="bold-word">Implementation:</span>
          <br>
          <ul class="point-list">
            <li>The activity was carried out in collaboration with <a class="link-text" href="https://www.verificat.cat/">Verifica't</a>, a Catalan fact-checking platform that verifies news, political claims, and social media content to combat misinformation. They contributed to shaping the three activities and provided feedback on technical aspects to improve the website.</li>
            <li>It was also carried out at Daina Isard school, without any of the team members there, and the activity was perceived as clear and comprehensive, effectively delivering the message, though at times it felt slightly repetitive. It is for that reason that we insisted in selecting the activities the teachers felt they were most reliable for the class dynamics <span class = "info-word hp-icon" data-target= "hp-card5">&#128161;</span>.</li>
          </ul>
        </p>
        <div class="image-container">
          <img src = "https://static.igem.wiki/teams/5622/images/education/toolkitcommunication.webp" alt="Students of Daina Isard school working on one of the Communication activities">
        </div>

      </section>
      <section id = "Art">
        <h1 class ="section-title">Art</h1>
        <p class="section-text"> <span class="bold-word">Goal:</span> The goal of the activity was to combine art and science to make learning about evolution, natural selection, and symbiosis engaging and creative. It aims to show students that scientific concepts can be explored through artistic expression, fostering creativity, collaboration, and imaginative thinking.
        <br><br>
        <span class="bold-word">Content:</span>
         <div class="image-container">
          <img src = "https://static.igem.wiki/teams/5622/images/education/toolkittaula3.webp">
          </div>
        </p>
        <div class = "accordion">
          <div class = "accordion-header">
            <div class ="accordion-title">Read More</div>
            <div class = "accordion-icon"></div>
          </div>
          <div class = "accordion-content">
            <div class = "accordion-content-inner">
              <p>This activity connects art and science, showing how creativity and scientific inquiry complement each other. Students are first introduced to key concepts of  evolution and symbiosis. The teacher then generates a fictional planet with different regions, each facing challenges like high pressure, low temperatures, or scarce food. </p>
              <p>Using the toolkit’s “Planetary Map Generator,” three of these conditions are randomly assigned to each region. With the help of special cards we created, featuring real animals adapted to extreme environments and the traits that help them survive, students imagine new forms of life for this planet. They design organisms that demonstrate principles of evolution, natural selection, and symbiosis, then draw their species and explain how it adapts to its environment. </p>
              <p>Finally, the class shares and votes on the best-adapted organism. In this way, students actively apply scientific knowledge in a playful, artistic format, deepening their understanding of ecology and evolution while making science engaging, creative, and interactive.</p>
            </div>
          </div>
        </div>
        <p class="section-text"> <span class="bold-word">Implementation:</span>
          <br>
          <ul class="point-list">
            <li>We showed the arts activity to David Bueno, a professor and science communicator who recently received a regional prize for his last essay book titled “The art of being humans”, a fascinating journey through arts, neuroscience and education. He found the activity adequate and coherent for our desired public.</li>
            <li>To test the activity in a real classroom, we conducted a pilot of its initial version at Sant Nicolau School. This first implementation gave us valuable insights, allowing us to refine the activity and ultimately deliver an improved final version <span class = "info-word hp-icon" data-target= "hp-card6">&#128161;</span>.</li>
            <br>
            <div class="image-container">
              <img src ="https://static.igem.wiki/teams/5622/images/education/toolkitart.webp" alt ="Collection of photos from the arts activity's pilot test at Sant Nicolau's school">
            </div>
            <li>As part of the European Researchers’ Night, we conducted this activity at Institut Monturiol in Barcelona. The session went smoothly, and the students appreciated having a space for drawing, something many of them enjoyed and had not experienced at school for years.</li>
            <br>
            <div class="image-container">
              <img src ="https://static.igem.wiki/teams/5622/images/education/toolkitartnitdelarecerca.webp" alt ="Collection of photos from the arts activity's pilot test at Sant Nicolau's school">
            </div>
          </ul>
        </p>

      </section>
      <section id = "Technology">
        <h1 class ="section-title">Technology</h1>
        <p class="section-text"> <span class="bold-word">Goal:</span> The goal of the activity is to introduce students to bioinformatics tools (PDB, BLAST, AlphaFold, and related software), giving them practical experience while helping them understand their applications and the underlying theoretical concepts.
                <br><br>
        <span class="bold-word">Content:</span>
         <div class="image-container">
          <img src = "https://static.igem.wiki/teams/5622/images/education/toolkittaula4.webp">
          </div>
        </p>
        <div class = "accordion">
          <div class = "accordion-header">
            <div class ="accordion-title">Read More</div>
            <div class = "accordion-icon"></div>
          </div>
          <div class = "accordion-content">
            <div class = "accordion-content-inner">
              <p>This educational resource consists of three activities designed to give students hands-on experience with key technologies such as BLAST, the Protein Data Bank (PDB), and AlphaFold. The aim is to help students understand how these tools are applied in real research, what they are useful for, and the theoretical concepts behind them.</p>
              <ul class="point-list">
                <li>The first activity introduces students to the world of bioinformatics, showing how we can obtain useful information from real genetic data. They will use BLAST to identify the origin of an unknown DNA sequence and then explore the PDB to visualize the three-dimensional structure of a protein.</li>
                <li>The second activity focuses on artificial intelligence in biology through the use of AlphaFold. Students will generate or examine a real protein structure prediction, analyze its features, and reflect on the relationship between sequence, structure, and biological function.</li>
                <li>The third activity presents students with a problem-solving challenge: acting as an emergency response team tasked with finding the fastest route to reach an affected area while avoiding obstacles on a grid-like map. By developing a logical, step-by-step strategy, students learn the concept of algorithms and strengthen their computational thinking skills.</li>
              </ul>
              <p> Given the complexity of the theoretical concepts, especially for younger students (around 16 years old), each activity includes detailed explanations, contextual examples, and reflection questions to reinforce learning. By combining hands-on experience with conceptual discussion, students gain both technical skills and a foundational understanding of bioinformatics applications.</p>
            </div>
          </div>
        </div>
        <p class="section-text"> <span class="bold-word">Implementation:</span>
          <br>
          <ul class="point-list">
            <li>Montagut school, the one where we did the pilot test for our bioethics activity, tried out the second activity of this resource, only this time no member of the iGEM team was there. The teacher suggested adding the history of the discovery of AlphaFold in order to give more context, recommended making the introduction more visually appealing to young students and noted issues with the program’s speed. He also added the question of whether AI has really solved the structure prediction problem: is making a tool that works in a set of cases the same as understanding the operation of a mechanism? Should utility be confused with truth and justification? This point of view highlighted our intersectional approach: <span class="bold-word">philosophy and technology also work perfectly in pairs</span>.</li>
            <li>We also tried out the first and third at Daina Isard school, where they had already implemented the communication activity. Students showed strong interest in the activity, quickly became familiar with the tools, and clearly saw their usefulness. The activity ran smoothly, and no significant improvements were needed.</li>
          </ul>
        </p>
       <div class="image-container">
          <img src ="https://static.igem.wiki/teams/5622/images/education/toolkittechnology.webp" alt ="Laia trying out one of the technology activities in Daina Isard school">
        </div> 

      </section>
      <section id = "Experimental">
        <h1 class ="section-title">Experimental</h1>
        <p class="section-text"> <span class="bold-word">Goal:</span> The goal of the activity is to give students a hands-on experience in laboratory work, allowing them to practice essential lab skills such as careful handling of reagents, following protocols, and maintaining attentiveness, while reinforcing theoretical biology concepts.
                <br><br>
        <span class="bold-word">Content:</span>
         <div class="image-container">
          <img src = "https://static.igem.wiki/teams/5622/images/education/toolkittaula5.webp">
          </div>
        </p>
        <div class = "accordion">
          <div class = "accordion-header">
            <div class ="accordion-title">Read More</div>
            <div class = "accordion-icon"></div>
          </div>
          <div class = "accordion-content">
            <div class = "accordion-content-inner">
              <p>Laboratory skills are fundamental to science and synthetic biology, and this activity allows students to experience a realistic experimental setting. Participants learn to handle reagents carefully, follow protocols meticulously, and maintain focus throughout the procedure. The DNA extraction from fruit provides a tangible, engaging way to connect theory with practice, without the need for expensive and complex materials to make it accessible to all kinds of high schools. Comprehension questions at the end help ensure students understand the biology behind the experiment. </p>
            </div>
          </div>
        </div>
        <p class="section-text"> <span class="bold-word">Implementation:</span>
          <br>
          <ul class="point-list">
            <li>We drew inspiration from Ina Kruger and Kathryn Dungey, postgraduate students at Cambridge University who had carried out the same experiment as part of a science outreach activity. They guided us on protocol details and shared valuable insights on the most engaging moments of the workshop—particularly mashing the berries and watching the DNA precipitate.</li>
          </ul>
          <div class="image-container">
            <img src ="https://static.igem.wiki/teams/5622/images/education/toolkitexperimental.webp" alt ="Ina and Kathryn doing a DNA extraction in a science outreach activity">
          </div>
        </p>

      </section>
      <section id="Impact">
        <h1 class="section-title">The toolkit's impact</h1>
        <p class="section-text">Our toolkit was developed with limited resources but with a clear vision: to create something simple, practical, and lasting. It is designed not only to serve the needs of today but also to support teachers and students well into the future, <span class="bold-word">even beyond our involvement</span>. With just internet access, it can reach dedicated educators across Catalonia.
          <br><br>
          Gemma Marfany, a professor and science communicator who gave us crucial feedback <span class = "info-word hp-icon" data-target= "hp-card7">&#128161;</span>, was very impressed with the quality of this educational resource we elaborated. She also endorsed our work in this <a class="link-text" href="https://static.igem.wiki/teams/5622/images/education/lett-reference-igem.pdf">statement</a>.
          <br><br>
          Thanks to her, our toolkit has gone all the way to our government’s the <span class="bold-word">Department of education and professional formation</span>. They were searching for an inspiring activity regarding bioethics to train teachers, and when they were shown our proposal they were really interested in it; we hope they are able to try it out and that it matches their needs and expectations.
          <br><br>
          It has also reached (for the moment) <span class="bold-word">four schools</span> from different regions that have tried at least one of our activities:
          <ul class="point-list">
            <li>In <span class="bold-word">Daina Isard school</span> (Baix Llobregat region) they want to implement the whole toolkit this year. So far, they have already tried the technology activity (with one of our team members) and the communication activity by themselves, but they said they would also do the experimental one soon.</li>
            <li>We did our pilot test for the bioethics activity in <span class="bold-word">Montagut school</span> (Penedès region) in June, later in September they tried one of the technology activities by themselves and gave us powerful feedback.</li>
            <li>We also did a pilot test for our arts activity in <span class="bold-word">Sant Nicolau school</span> (Vallès Occidental region), which provided us with a meaningful insight that allowed us to change some aspects of the activity and improve it.</li>
            <li>During the European Researchers’ Night, we carried out the arts activity at <span class="bold-word">Institut Monturiol school</span> (Barcelona region), where students especially valued the chance to draw, an experience many had not enjoyed in years.</li>
          </ul>
          What started as a small effort shows how much can be achieved with dedication and vision. This toolkit is proof that <span class="bold-word">even with limited means</span>, it is possible to create something that will leave a <span class="highlight-word">meaningful and lasting impact</span>.

      </section>
      <section class ="references">
        <h1 class="section-title">References</h1>
        <ol>
          <li>Guasch, B., González, M., & Cortiñas, S. (2020). Educational toolkit based on design methodologies to promote scientific knowledge transfer in secondary schools: A graphene-centered case study. Journal of Technology and Science Education, 10(1), 17-31. <a class="link-text" href="https://doi.org/10.3926/jotse.787">Paper</a></li>
        </ol>
      </section>
    </div>
  </div>
</div>
<div class="back-to-top" id="back-to-top">
  ↑
</div>
  

{% endblock %}