{% extends "layout.html" %}

{% block title %}Skippit{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<script src="{{ url_for('static', filename='home.js') }}"></script>

<!-- <div class="page-container"> -->
  <div class="homepage">
    <div class="hero">
      <img src="https://static.igem.wiki/teams/5622/images/brand/skippit-hd-full-logo.webp" alt="Skippit Logo">
    </div>
    <div class="dna-container">
      <div class="dna-half left" id="leftHalf">
          <div class="helix-strand strand1" id="leftStrand1"></div>
          <div class="helix-strand strand2" id="leftStrand2"></div>
      </div>
      <div class="dna-half right" id="rightHalf">
          <div class="helix-strand strand1" id="rightStrand1"></div>
          <div class="helix-strand strand2" id="rightStrand2"></div>
      </div>
      <div class="revealed-text" id="revealedText">
        <h1>Unlock protein<br>expression beyond<br>the limits of DNA</h1>
      </div>
    </div>
    <div class="content-section">
      <section class = "proteins">
        <div class="text-img">
          <h2>Proteins are the gears of life</h2>
          <img src ="https://static.igem.wiki/teams/5622/images/home/homepage1.webp">
        </div>
        <div class="text-img">
          <img src ="https://static.igem.wiki/teams/5622/images/home/homepage2.webp">
          <h2>They catalyse biochemical reactions</h2>
        </div>
        <div class="text-img">
          <h2>Construct, stabilise and maintain cells and viruses</h2>
          <img src ="https://static.igem.wiki/teams/5622/images/home/homepage3.webp">
        </div>
        <div class="text-img">
          <img src ="https://static.igem.wiki/teams/5622/images/home/homepage4.webp">
          <h2>Transport and sense key biological compounds</h2>
        </div>
        <div class="text-img">
          <h2>Organise and replicate DNA</h2>
          <img src ="https://static.igem.wiki/teams/5622/images/home/homepage5.webp">
        </div>
        <div class="text-img">
          <img src ="https://static.igem.wiki/teams/5622/images/home/homepage6.webp">
          <h2>Trigger and mediate immunological responses</h2>
        </div>
        <h1 class = "page-title" style="padding:6em 0em;">And much, much more </h1>
        <div class="text-img">
          <h2 style="font-size:var(--fs-h2)">All proteins have 3 things in common:
            <ul class="point-list">
              <li>They are encoded by RNA sequences</li>
              <li>They are composed by aminoacids</li>
              <li>They have to be <span class = "highlight-word">translated</span></li>
            </ul>
          </h2>
          <img src ="https://static.igem.wiki/teams/5622/images/home/homepage7.webp" style="height:20rem;width:auto">
        </div>
        <div class="text-img">
          <h2>Translation begins when the ribosome binds to the mRNA</h2>
          <img src ="https://static.igem.wiki/teams/5622/images/home/homepage8.webp">
        </div>
        <div class="text-img">
          <h2>it continues when a codon is recognised and the appropriate tRNA is recruited, adding an aminoacid.</h2>
          <img src ="https://static.igem.wiki/teams/5622/images/home/homepage9.webp" style="height:25rem;width:auto;padding-right: 10em;">
        </div>
        <h2>This process is repeated until the peptide sequence is synthesised, until it reaches a <span class="highlight-word">STOP codon</span></h2>
        <div class="video home-video" style="position: relative; padding-top: 56.25%;">
          <iframe title="Barcelona-UB: tanslation (2025) [English]" width="100%" height="100%" 
          src="https://video.igem.org/videos/embed/a5VhpSG53Ny5Q4FCPiE2iZ?loop=1&amp;autoplay=1" 
          style="border: 0px; position: absolute; inset: 0px;" allow="fullscreen" 
          sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
        </div>
        <h2>But sometimes translation doesn't end at the <span class="highlight-word">STOP</span></h2>
        <br><br><br>
        <h2><span class="bold-word">STOP Codon Readthrough elements</span> are structured mRNA sqeuences that interact with the ribosome at the STOP codon site, blocking translation termination.</h2>
        <br><br><br>
        <h2>Meaning that the protein is synthesised <span class="bold-word">beyond</span> the STOP</h2>
        <div class="video home-video" style="position: relative; padding-top: 56.25%;">
          <iframe title="Barcelona-UB: SCR Translational influence (2025)" 
          width="100%" height="100%" 
          src="https://video.igem.org/videos/embed/9U3qG3tzMAeG285RcXMthZ?autoplay=1&loop=1&muted=1" 
          style="border: 0px; position: absolute; inset: 0px;" allow="fullscreen"
           sandbox="allow-same-origin allow-scripts allow-popups allow-forms allow-presentation"></iframe>
        </div>
        <h2>SCR elements create an additional level of control for protein expression <span class="highlight-word">during</span> translation.</h2>
        <br><br><br>
        <h2>But what if we could go further?</h2>
        <br><br><br>
        <h2>What if we could <span class="bold-word">modulate the readthrough?</span></h2>
        <br><br><br>
        <h2>We attempted to do something that's never been done before: <span class="bold-word">create a SCR riboswitch.</span></h2>
        <br><br><br>
         <h2>A switch where in abscence of the ligand the readthrough is downregulated, and in ligand presence, it’s upregulated.</h2>
        <div class="video home-video" style="position: relative; padding-top: 56.25%;">
          <iframe title="Barcelona-UB: wiki parts intro off-off (2025)" 
          width="100%" height="100%" 
          src="https://video.igem.org/videos/embed/dUAYtE8Bd33j2Qz2a9scMu?autoplay=1&loop=1&muted=1"
           allow="fullscreen" style="border: 0px; position: absolute; inset: 0px;" allow="fullscreen" 
           sandbox="allow-same-origin allow-scripts allow-popups allow-forms allow-presentation"></iframe>
        </div>
      </section>
    </div>
    <section class="ribosome">
        <img src="https://static.igem.wiki/teams/5622/images/home/50-years-protein-rna.webp">
      <div class="ribosome-text">
        <h2>RNA switches are highly diverse small RNA sequences that can have catalytic or regulatory activity.</h2>
        <br>
        <h2><span class="bold-word">SKIPPIT</span> harnesses the power of Functional RNA elements (FRE) by fusing them with conformational RNA elements (CRE), to create new RNA switches.</h2>
      </div>
    </section>
    <section class="home-table">
      <img src="https://static.igem.wiki/teams/5622/images/home/fre-foto.webp">
        <table>  
          <tr>
            <th style="padding:1.5em;">Functional RNA elements</th>
            <th style="padding:1.5em;">Conformational RNA elements</th>
          </tr>
          <tr>
            <td style="padding:1.5em;">RNA sequences which possess additional properties that rely on their secondary structure to function.</td>
            <td style="padding:1.5em;">RNA sequences that have the ability to bind and interact with a ligand or an external stimuli to change their structure</td>
          </tr>
        </table>
        <img src="https://static.igem.wiki/teams/5622/images/home/cre-foto.webp">
    </section>
    <div class="content-section">
      <h3>This means that we can generate mRNA transcripts capable of modulating their own translation.</h3>
    </div>  
    <section class="rewiring">
      <h1 class ="page-title">THE FIRST STEP: Rewiring RNA</h1>
      <h2>RNA dynamics are complex: from transcript maturation, to secondary structures, and molecular interactions, RNA elements require high expertise to manipulate.</h2>
      <br><br>
      <h2>Learning how to rewire RNA is an arduous task, which is why we built <span style="font-weight:var(--fw-bold);background-color: var(--tadpole-color);color:var(--bg-main);padding:0.25em;border-radius:16px 16px 0px 0px;">TADPOLE</span></h2>
      <div class="tadpole-home">
        <div class="text-img2">
          <img src="https://static.igem.wiki/teams/5622/images/home/tadpole-logo.webp">
          <h3>TADPOLE is an easy-to-use software with a public interface that automates the design of RNA switches</h3>
        </div>
     <h3 style="padding-top:1.5em; padding-left:5em;">Just input a CRE and a FRE sequence, and TADPOLE will do the rest</h3>
        <div class="video home-video"style="position: relative; padding-top: 56.25%;">
          <iframe title="Barcelona-UB: Software overview (2025)" width="100%" height="100%" 
          src="https://video.igem.org/videos/embed/ciWKP9BiXgLBoyT8b8M77X?loop=1&amp;autoplay=1" 
          style="border: 0px; position: absolute; inset: 0px;" 
          allow="fullscreen" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
        </div>
        <h3 style="padding-top:1.5em; padding-left:3em;">This means that creating custom RNA switches is now on everyone’s reach, without needing any modelling or coding knowledge.</h3>
        <h3 style="padding-top:1.5em; padding-left:8em;"><span class="italic-word">“With TADPOLE, the world of translation level regulation becomes a reality”.</span></h3>
      </div>
    </section>
    <div class="gradient"></div>
    <section class="final">
      <div class="final-container">
        <div class="staggered-text">
            <span class="line">SKIPPIT is proof that the future</span>
            <span class="line">of synthetic biology starts now.</span>
            <span class="line italic-word">New tools, new regulation,</span>
            <span class="line italic-word">and a new world of possibilities.</span>
            <span class="line">Join us, beyond the finish line.</span>
        </div>
    </div>
    </section>
  </div>
<!-- </div>
<div class="back-to-top" id="back-to-top">
  ↑
</div>
 -->

{% endblock %}



