{% extends "layout.html" %}
  
{% block title %}Toolkit{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}

<link rel="stylesheet" href="{{ url_for('static', filename='timeline.css') }}">

<div class = "page-container">
  <div class = "page-content" style="margin:0em 5em;">
    <div class = "header">
      <h1 class = "page-title">Outside the Toolkit</h1>
      <!-- <p class = "page-desc">Page description</p> -->
    </div>
    <div class = "content"> 
      <section id = "intro">
        <p class="section-text">
          In 2025, we took part in a wide range of activities: we presented our project at the <span class="bold-word">Catalunya Summit</span> for young innovators, ran a transcription and translation workshop at the <span class="bold-word">Festa de la Ciència</span>, and shared our work at <span class="bold-word">CosmoXarxa</span> in CosmoCaixa. We also launched a humorous <span class="bold-word">TikTok account</span> to help students prepare for the biology entrance exams using a “brainrot” style, introduced iGEM at the <span class="bold-word">BIYSC international youth program</span>, and participated in the <span class="bold-word">European Researcher’s Night.</span> Additionally, we collaborated internationally by translating the <span class="bold-word">Arizona State iGEM children’s book</span> into Catalan, and elaborated a <span class="bold-word">legend</span> analoguing our project to a famous Catalan tale, broadening access to science education. 
        <br><br>
        <span class="bold-word">These experiences allowed us to inspire others, share our passion for synthetic biology, and strengthen our role as young science communicators.</span>
        </p>
      </section>
      <section class="timeline">
        <div class="timeline-container">          
          <div class="timeline">
              <div class="timeline-item">
                  <div class="timeline-dot"></div>
                  <div class="timeline-card">
                      <div class="timeline-card-date">April 2025</div>
                      <div class="timeline-card-title">Sant Jordi’s legend</div>
                      <div class="timeline-card-description">We wrote a story explaining our project and referencing Sant Jordi, a Catalan festivity with a famous legend. You can find the story in English here.</div>
                      <button class="btn btn-outline" onclick="toggleExpanded(this)">Read More</button>
                      <div class="expanded-content">
                        <div class="expanded-text">
                            Sant Jordi is a traditional Catalan festivity where literature is commemorated, there is a well-known legend with knights, princesses and dragons. We created a story about Ribbit, a ribofrog (ribosome) that accomplishes the unbelievable: building a protein that no other ribofrog has ever built before with the help of SECIS and Oscar (SCR). It teaches the basics of our project in a fun, engaging and easily understandable way, while being an analogy to the legend of this local celebration.
                        </div>
                      </div>
                  </div>
              </div>

              <div class="timeline-item">
                  <div class="timeline-dot"></div>
                  <div class="timeline-card">
                      <div class="timeline-card-date">10 May 2024</div>
                      <img class="timeline-card-image" src = "https://static.igem.wiki/teams/5622/images/education/catalunyasummit1.webp">
                      <div class="timeline-card-title">Catalunya Summit</div>
                      <div class="timeline-card-description">The Catalunya Summit is a free event for young entrepreneurs and innovators. Our iGEM UB team attended the 2025 edition, sharing our project, meeting like-minded peers, and finding inspiration in a collaborative environment</div>
                      <button class="btn btn-outline" onclick="toggleExpanded(this)">Read More</button>
                      <div class="expanded-content">
                          <div class="expanded-text">
                              The Catalunya Summit is a free event designed for young entrepreneurs and innovators aged 17 to 25. Its goal is to inspire, empower, and connect emerging ideas in a collaborative environment. The 4th edition took place on Saturday, May 10, 2025, at the Espai Jove La Nau in Vilafranca del Penedès. The iGEM UB team had the opportunity to take part in the Catalunya Summit 2025 in Vilafranca del Penedès. Having the opportunity to be surrounded by so many young entrepreneurs and innovators was both exciting and inspiring. This gave us the perfect space to share our ideas, goals and meet new contacts that were interested in our project.
                          </div>
                          <img class="timeline-card-image" src="https://static.igem.wiki/teams/5622/images/education/catalunyasummitcollage.webp">
                      </div>
                  </div>
              </div>

              <div class="timeline-item">
                  <div class="timeline-dot"></div>
                  <div class="timeline-card">
                      <div class="timeline-card-date">30-31 May 2025</div>
                      <img class="timeline-card-image" src="https://static.igem.wiki/teams/5622/images/education/festaciencia1.webp">
                      <div class="timeline-card-title">Festa de la ciència</div>
                      <div class="timeline-card-description">The Festa de la Ciència at the University of Barcelona is a yearly event that brings science closer to the public through interactive workshops. It takes place during two days: one for school groups and another open to everyone. This year, our team ran a hands-on activity where children learned about transcription and translation by making bracelets, while we explained the fundamental concepts and guided them through the process. It was an amazing experience that allowed us to share the basics of synthetic biology in a fun and engaging way.</div>
                      <button class="btn btn-outline" onclick="toggleExpanded(this)">Read More</button>
                      <div class="expanded-content">
                          <div class="expanded-text">
                            The Festa de la Ciència at the University of Barcelona (UB) is an event designed to bring science closer to society in an interactive and dynamic way. This event takes place every year in the Historic Building of the UB and includes a variety of workshops carried out by UB researchers from different fields, covering biomedicine, biology, chemistry... This activity is divided into two days, depending on the type of public coming to each one: one day dedicated to school groups, which requires prior registration, and another day open to the general public, where anyone can participate freely. The goal of this initiative is to help students and kids discover science in a more practical, engaging, and accessible format.
                            Our team took part in this year’s edition, introducing children to transcription and translation through a bracelet-making activity that served as a hands-on way for them to grasp the concepts. As a team, we were present for two days, helping to set up the stand, explaining the theoretical foundations to the children, and assisting all participants as they carried out the activity. Overall, it was an outstanding experience beyond the toolkit, which enabled us to teach all attendees about the fundamentals of synthetic biology and the key processes within the central dogma of molecular biology.
                          </div>
                          <img class ="timeline-card-image" src="https://static.igem.wiki/teams/5622/images/education/festacienciacollage.webp">
                      </div>
                  </div>
              </div>

              <div class="timeline-item">
                  <div class="timeline-dot"></div>
                  <div class="timeline-card">
                      <div class="timeline-card-date">30 May 2025</div>
                      <img class="timeline-card-image" src="https://static.igem.wiki/teams/5622/images/education/cosmoxarxa1.webp">
                      <div class="timeline-card-title">Cosmoxarxa</div>
                      <div class="timeline-card-description">CosmoCaixa is one of the most prestigious science museums of Europe, the iGEM team had the chance to present our project as a part of CosmoXarxa, a network of former CosmoCaixa Explainers who stay connected and keep sharing science.</div>
                      <button class="btn btn-outline" onclick="toggleExpanded(this)">Read More</button>
                      <div class="expanded-content">
                        <div class="expanded-text">
                            CosmoXarxa is an initiative that emerged from the CosmoCaixa Explainers Community in Barcelona. Explainers are young science communicators at CosmoCaixa, typically university students or recent graduates in scientific disciplines. This community was established from a shared dream among former Explainers to remain connected with one another and to continue disseminating scientific knowledge beyond their tenure at the museum. In one of their meetings we had the opportunity to share our iGEM project: we explained what it meant to participate in the world’s largest SynBio competition, as well as a brief introduction to Skippit.
                        <img class ="timeline-card-image" src="https://static.igem.wiki/teams/5622/images/education/cosmoxarxacollage.webp">
                      </div>
                  </div>
                </div>
              </div>

              <div class="timeline-item">
                  <div class="timeline-dot"></div>
                  <div class="timeline-card">
                      <div class="timeline-card-date">May - June 2025</div>
                      <img class="timeline-card-image" src="https://static.igem.wiki/teams/5622/images/education/festaciencia1.webp">
                      <div class="timeline-card-title">Biology University Entrance Exams tik tok accoun</div>
                      <div class="timeline-card-description">The Festa de la Ciència at the University of Barcelona is a yearly event that brings science closer to the public through interactive workshops. It takes place during two days: one for school groups and another open to everyone. This year, our team ran a hands-on activity where children learned about transcription and translation by making bracelets, while we explained the fundamental concepts and guided them through the process. It was an amazing experience that allowed us to share the basics of synthetic biology in a fun and engaging way.</div>
                      <button class="btn btn-outline" onclick="toggleExpanded(this)">Read More</button>
                      <div class="expanded-content">
                          <div class="expanded-text">
                            The Festa de la Ciència at the University of Barcelona (UB) is an event designed to bring science closer to society in an interactive and dynamic way. This event takes place every year in the Historic Building of the UB and includes a variety of workshops carried out by UB researchers from different fields, covering biomedicine, biology, chemistry... This activity is divided into two days, depending on the type of public coming to each one: one day dedicated to school groups, which requires prior registration, and another day open to the general public, where anyone can participate freely. The goal of this initiative is to help students and kids discover science in a more practical, engaging, and accessible format.
                            Our team took part in this year’s edition, introducing children to transcription and translation through a bracelet-making activity that served as a hands-on way for them to grasp the concepts. As a team, we were present for two days, helping to set up the stand, explaining the theoretical foundations to the children, and assisting all participants as they carried out the activity. Overall, it was an outstanding experience beyond the toolkit, which enabled us to teach all attendees about the fundamentals of synthetic biology and the key processes within the central dogma of molecular biology.
                          </div>
                          <img class ="timeline-card-image" src="https://static.igem.wiki/teams/5622/images/education/festacienciacollage.webp">
                      </div>
                  </div>
              </div>
              <div class="timeline-item">
                  <div class="timeline-dot"></div>
                  <div class="timeline-card">
                      <div class="timeline-card-date">8 July 2025</div>
                      <img src="https://static.igem.wiki/teams/5622/images/education/biysc1.webp" class="timeline-card-image">
                      <div class="timeline-card-title">BIYSC talks</div>
                      <div class="timeline-card-description">The Barcelona International Youth Science Challenge (BIYSC) is a two-week program held annually in Barcelona that brings together young people from around the world to dive into real scientific research while also building connections through social and team activities. Since some of our team members helped coordinate the program at the Catalunya La Pedrera Foundation, we had the great opportunity to promote iGEM, present our project, and highlight the importance of synthetic biology to an audience that may one day dedicate their careers to this field.</div>
                      <!-- <button class="btn btn-outline" onclick="toggleExpanded(this)">Read More</button>
                      <div class="expanded-content">
                          <div class="expanded-text">
                              Before the University Entrance exams in Catalonia (Selectivitat), we decided to start a <a class="link-text" href="https://www.tiktok.com/@selebiorot?_t=ZN-90BhAx40gZK&_r=1">TikTok account</a> where we explained biology concepts for the exam in an engaging way, using a humorous and exaggerated 'brainrot' style. We thought it would be interesting to explore social media as an educational tool, and approaching it as an experiment turned out to be a very enriching experience both for us and for the students.
                              We informed ourselves about the most common mistakes in the exams with the help of high school teachers, and over time we accumulated videos with more than 45K views. This allowed us to explain complex concepts and, ultimately, help students review in a comfortable and almost unconscious way.
                          </div>
                          <img src="https://static.igem.wiki/teams/5622/images/education/biysccollage.webp" class="timeline-card-image">
                      </div> -->
                  </div>
              </div>
              <div class="timeline-item">
                  <div class="timeline-dot"></div>
                  <div class="timeline-card">
                      <div class="timeline-card-date">26 September 2025</div>
                      <img src="https://static.igem.wiki/teams/5622/images/education/nitrecerca1.webp" class="timeline-card-image">
                      <div class="timeline-card-title">European Researcher’s Night </div>
                      <div class="timeline-card-description">The European Researcher’s Night is a Europe-wide festival making science accessible to all. This year, our iGEM UB team joined with a virtual talk and an art workshop.</div>
                      <button class="btn btn-outline" onclick="toggleExpanded(this)">Read More</button>
                      <div class="expanded-content">
                          <div class="expanded-text">
                              European Researcher’s Night is a big science festival that takes place every year across Europe in September. In Catalonia, researchers, schools, and universities team up to run workshops, experiments, and fun activities that bring science closer to everyone. It’s all about making research exciting and accessible, especially for students and families. In this year’s edition, our iGEM UB team has been selected to deliver a virtual short talk that will be spread around the territory, and to do the art workshop which is part of the <a href="{{ url_for('pages', page='education-toolkit') }}#Art class="link-text"></a>toolkit.
                          </div>
                      </div>
                  </div>
              </div>
              <div class="timeline-item">
                  <div class="timeline-dot"></div>
                  <div class="timeline-card">
                      <!-- <div class="timeline-card-date">26 September 2025</div> -->
                      <div class="timeline-card-title">Arizona State iGEM children’s book translation</div>
                      <div class="timeline-card-description">As a team committed to promoting accessible sources for science education, we found the Arizona State iGEM children’s book project really interesting. Since their team was looking for collaborators to expand its reach as much as possible, we decided to contribute by translating it to our native language, Catalan, making it available to more children and communities.</div>
                      <!-- <button class="btn btn-outline" onclick="toggleExpanded(this)">Read More</button>
                      <div class="expanded-content">
                          <div class="expanded-text">
                              European Researcher’s Night is a big science festival that takes place every year across Europe in September. In Catalonia, researchers, schools, and universities team up to run workshops, experiments, and fun activities that bring science closer to everyone. It’s all about making research exciting and accessible, especially for students and families. In this year’s edition, our iGEM UB team has been selected to deliver a virtual short talk that will be spread around the territory, and to do the art workshop which is part of the <a href="{{ url_for('pages', page='education-toolkit') }}#Art class="link-text"></a>toolkit.
                          </div>
                      </div> -->
                  </div>
              </div>
          </div>
        </div>
      </section>
      
      </div> 
      <!-- <section class ="references">
        <h1 class="section-title">References</h1>
        <ol>
          <li>WHO EMRO | Stroke, Cerebrovascular accident | Health topics.</li>
          <li>Feigin, V. L., Nguyen, G., Cercy, K., Johnson, C. O., Alam, T., Parmar, P. G., Abajobir, A. A., Abate, K. H., Abd-Allah, F., Abejie, A. N., Abyu, G. Y., Ademi, Z., Agarwal, G., Ahmed, M. B., Akinyemi, R. O., Al-Raddadi, R., Aminde, L. N., Amlie-Lefond, C., Ansari, H., … Roth, G. A. (2018). GLOBAL, REGIONAL, AND COUNTRY-SPECIFIC LIFETIME RISK OF STROKE, 1990–2016. The New England Journal of Medicine, 379(25), 2429–2437. <a class="link-text" src="https://doi.org/10.1056/NEJMoa1804492">Paper</a></li>
          <li>Ischaemic stroke | Stroke Association. <a class="link-text" src="https://www.stroke.org.uk/stroke/types/ischaemic">Website</a></li>
        </ol>
      </section> -->
    </div>
  </div>
</div>
<div class="back-to-top" id="back-to-top">
  ↑
</div>
  
<script>
    function toggleExpanded(button) {
        const expandedContent = button.nextElementSibling;
        const isVisible = expandedContent.classList.contains('show');
        
        if (isVisible) {
            expandedContent.classList.remove('show');
            button.textContent = 'Read More';
        } else {
            expandedContent.classList.add('show');
            button.textContent = 'Hide Details';
        }
    }
</script>
{% endblock %}