*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100 vh;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(168, 128, 214);
    margin: 0;
    background-size: cover;
}

nav{
    background-color: rgb(235, 111, 194);
    height: 50 px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50 px;
}

nav a {
    height: 100%;
    padding: 0 30 px; /*Separates links with spacing */
    text-decoration: none; /* Removes underline from links */
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: rgb(235, 111, 194);
}

/* Can make the Home the first --> Could potentially do the logo as a separate thing?
nav li:first-child{
    margin-right: auto;
}
*/

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250 px;
    z-index: 999; /*Always above everything else */
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 10 px rgba(0, 0, 0, 0.2);
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{width: 100%;}
.sidebar a {width: 100%;}

h1 {
    display: inline-block;
    background-color: rgba(211, 211, 211, 0);
    margin:auto;
    padding: 20px;
    text-align:center;
}

h2 {
            display: inline-block;
            background-color: lightgray;
            font-size: 16 px;
            color: cadetblue;
            margin: auto;
}

h3 {
    margin: auto;
    font-size: 16px;
}

h4 {
    margin: auto;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    outline: auto;
}
